body {
    box-sizing: border-box;
    margin: 0;
    overflow-x: hidden;
    font-family: "Gotham SSm A", "Gotham SSm B", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: linear-gradient(to right,#9a1d86, #1595be);
    max-height: 100vh;
    height: 100vh;
    overflow-y: hidden;
}

.Home {
    background-color: rgb(246, 242, 242);
    mask:url(assets/About.svg) no-repeat center;
}

.left {
    background-color: rgb(0, 0, 0);
    position: relative;
    width: 300px;
    left: 0;
    bottom: 0;
    top: 0;
    font-size: 16px;
    font-weight: 500;
    padding: 40px;
    display: flex;
    flex-direction: column;
}

.gray-filtered {
    filter: invert(0.5) sepia(70) saturate(0) hue-rotate(0deg);
}

.menu ul {
    width: 85%;
}

.menu ul li img {
    width: 30px;
}

.menu ul li {
    padding: 4px;
}

.menu ul li a {
    text-decoration: none;
    color: rgb(228, 223, 223);
}

.menu ul *  { 
    cursor: pointer;
}

.menu ul li a span {
    position: relative;
    top: -10px;
    left: 10px
}

.menu ul li:first-child() a img {
    filter: invert(0.5) sepia(0) saturate(89) hue-rotate(75deg) !important;
}
.menu li:first-child span {
    color:rgb(240, 237, 237) !important;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu li {
    padding-left: 0 !important;
}

.playlists ul li a span {
    left: 0px;
}

.container {
    display: flex;
    flex-direction: row;
    height: calc(100vh - var(--footer-height)) !important;
}

.right {
    width: 100%;
}

.arrow-container {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #ece7e7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player{
    height: 95vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
  
.details {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  }
  
.track-art {
  margin: 25px;
  height: 250px;
  width: 250px;
  border:2px solid 	#FFFAFA;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  -moz-box-shadow: 0px 6px 5px black;
  -webkit-box-shadow: 0px 6px 5px black;
  box-shadow: 0px 6px 5px black;
  -moz-border-radius:190px;
  -webkit-border-radius:190px;
  border-radius:190px;
  }
  
.now-playing {
  font-size: 1rem;
  }
  
.track-name {
  font-size: 2.5rem;
  }
  
  .track-artist {
  margin-top: 5px;
  font-size: 1.5rem;
  }
  
.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 30px;
  }
.active{
      color: black;
  }
  
.repeat-track,
.random-track,
.playpause-track,
.prev-track,
.next-track {
  padding: 25px;
  opacity: 0.8;
  transition: opacity .2s;
  }
  
.repeat-track:hover,
.random-track:hover,
.playpause-track:hover,
.prev-track:hover,
.next-track:hover {
  opacity: 1.0;
  }
  
.slider_container {
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
.seek_slider, .volume_slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 5px;
  background: #83A9FF;
  -webkit-transition: .2s;
  transition: opacity .2s;
  }
  
.seek_slider::-webkit-slider-thumb,
.volume_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: white;
  border: 3px solid #3774FF;
  cursor: grab;
  border-radius: 100%;
  }
  
.seek_slider:hover,
.volume_slider:hover {
  opacity: 1.0;
  }
  
.seek_slider {
  width: 60%;
  }
  
.volume_slider {
  width: 30%;
  }
  
.current-time,
.total-duration {
  padding: 10px;
  }
  
  i.fa-volume-down,
  i.fa-volume-up {
  padding: 10px;
  }
  
  i,
  i.fa-play-circle,
  i.fa-pause-circle,
  i.fa-step-forward,
  i.fa-step-backward,
  p {
  cursor: pointer;
  }
  .randomActive{
      color: black;
  }
  .rotate {
      animation: rotation 8s infinite linear;
  }
  @keyframes rotation {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(359deg);
      }
  }

.loader {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.loader .stroke{
      background: #f1f1f1;
      height: 150%;
      width: 10px;
      border-radius: 50px;
      margin: 0 5px;
      animation: animate 1.4s linear infinite;
  }

@keyframes animate {
    50% {
    height: 20%;
    background: #4286f4;
    }
  
    100% {
    background: #4286f4;
    height: 100%;
    }
}

.stroke:nth-child(1){
    animation-delay: 0s;
}

.stroke:nth-child(2){
    animation-delay: 0.3s;
}

.stroke:nth-child(3){
    animation-delay: 0.6s;
}

.stroke:nth-child(4){
    animation-delay: 0.9s;
}

.stroke:nth-child(5){
    animation-delay: 0.6s;
}

.stroke:nth-child(6){
    animation-delay: 0.3s;
}

.stroke:nth-child(7){
    animation-delay: 0s;
}
  

